---
layout: default

custom_js: mafrica-vis
---

<div class="home">

  <div class="masthead">
    <div style="height: 400px">
      <h1>Mafia In Africa</h1>
    </div>
  </div>

  {% include mafrica-vis.html %}

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
    <li>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
    </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ '/feed.xml' | prepend: site.baseurl }}">via RSS</a></p>

</div>
