<header>

  <div class="masthead">
    <h1 class="logo"><img src="{{ '/img/logo.jpg' | prepend: site.baseurl }}"/> A.N.C.I.R.</h1>
    <div class="masthead-outer">
      <div class="masthead-inner">
        <div class="container">
          <h1>{{ page.title }}</h1>
          <h2>{{ page.sub_title }}</h2>
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ site.baseurl }}/"><img src="{{ '/img/logo.jpg' | prepend: site.baseurl }}"/> {{ site.title }}</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">About <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right hidden-xs">
          <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus fa-lg"></i></a></li>
          <li><a href="#"><i class="fa fa-envelope fa-lg"></i></a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right visible-xs">
          <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus fa-lg"></i></a></li>
          <li><a href="#"><i class="fa fa-envelope fa-lg"></i></a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

</header>
