/* */

@font-face {
  font-family: 'captured';
  src: url('/fonts/captured.ttf');
}

@font-face {
  font-family: 'captured_it';
  src: url('/fonts/Capture_it.ttf');
}

@font-face {
  font-family: 'captured_it_2';
  src: url('/fonts/Capture_it_2.ttf');
}

@font-face {
  font-family: 'damaged';
  src: url('/fonts/damaged.ttf');
}

@import "bootstrap-sprockets";
@import "variables";

@import "layout";

@import "bootstrap";
@import "bootswatch";

a.anchor{
  display: block; position: relative; top: -62px; visibility: hidden;
};
