/* */

@font-face {
  font-family: 'captured';
  src: url('/fonts/captured.ttf');
}

@font-face {
  font-family: 'damaged';
  src: url('/fonts/damaged.ttf');
}

@import "bootstrap-sprockets";
@import "variables";

@import "layout";

@import "bootstrap";
@import "bootswatch";
