
.masthead {

  color: #fff !important;
  text-align: left;

  margin-bottom: 40px;

  .masthead-outer {
    background-image: url("/img/masthead.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .masthead-inner {
      padding: 60px 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.2);

      h1, h2 {
        color: #ffffff;

      }
      h1 {
        font-size: 70px;
        font-weight: bold;
        display: inline-block;
        margin-bottom: 0;
      }
      h2 {
        font-size: 40px;
        margin-bottom: 30px;
      }

      .logo {
        text-align: center;
        h1{
          font-family: 'captured_it','captured_it_2', sans-serif;
          font-weight: normal;
          font-size: 75px;
        }
      }

      button {
        border-radius: 9999px;
        padding: 15px 35px;
        background: none;
        border: 2px solid;
        font-size: 15px;
        text-transform: uppercase;
      }
    }

  }

}

.navbar {
  .navbar-brand {
    img {
      height: 17px;
      vertical-align: top;
      display: inline-block;
    }
  }
}


/**
 * Custom Layout
 * ------------- */

p.lead {
  padding-top: 20px;
  margin-top: 10px;
  border-top: 5px solid $brand-primary;
}


/**
 * Home Layout
 * ----------- */

.home {
  .thumbnail {
    h3 {
      position: absolute;
      top: 0;
      left: 0;
      padding: 20px 30px;
      text-align: center;
      color: #fff;
    }
    &:hover img {
      opacity: 0.5;
    }
    &:hover h3 {
      color: $brand-primary;
    }
  }
}

